header {
	width: 100%;
	background: darkblue;
	height: 60px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

header > ul {
	list-style: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0;
	margin: 0; 
	color: #fff;
}

header > ul > li {
	margin: 0 10px;
	transition: 300ms;
	cursor: pointer;
}

header > ul > li:hover {
	text-decoration: underline;
}

.drop-menu {
	position: relative;
}

.drop-submenu {
	width: 100px;
	list-style: none;
	margin: 0;
	padding: 0;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
	box-sizing: border-box;
	background: #eee;
	color: #666;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	visibility: hidden;
	opacity: 0;
	transition: 300ms;
}

.drop-submenu > li {
	transition: 300ms;
	box-sizing: border-box;
	padding: 5px 10px;
	cursor: pointer;
}

.drop-submenu > li:hover {
	background-color: rgba(0, 0, 0, .08);
}

.drop-menu:hover .drop-submenu {
	visibility: visible;
	opacity: 1;
}

.drop-sub-submenu {
	position: relative;
}

.drop-sub-submenu-list {
	width: 100px;
	list-style: none;
	margin: 0;
	padding: 0;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
	box-sizing: border-box;
	background: #eee;
	color: #666;
	position: absolute;
	top: 0;
	left: 100%;
	visibility: hidden;
	opacity: 0;
	transition: 300ms;
}

.drop-sub-submenu-list > li {
	transition: 300ms;
	box-sizing: border-box;
	padding: 5px 10px;
	cursor: pointer;
}

.drop-sub-submenu-list > li:hover {
	background-color: rgba(0, 0, 0, .08);
}

.drop-sub-submenu:hover .drop-sub-submenu-list {
	visibility: visible;
	opacity: 1;
}

.drop-sub-submenu-list-1 {
	width: 100px;
	list-style: none;
	margin: 0;
	padding: 0;
	box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
	box-sizing: border-box;
	background: #eee;
	color: #666;
	position: absolute;
	top: 0;
	left: 100%;
	visibility: hidden;
	opacity: 0;
	transition: 300ms;
}

.drop-sub-submenu-list-1 > li {
	transition: 300ms;
	box-sizing: border-box;
	padding: 5px 10px;
	cursor: pointer;
}

.drop-sub-submenu-list-1 > li:hover {
	background-color: rgba(0, 0, 0, .08);
}

.drop-sub-submenu-1 {
	position: relative;
}

.drop-sub-submenu-1:hover .drop-sub-submenu-list-1 {
	visibility: visible;
	opacity: 1;
}